<div>

    <h2>Probes for {{organisation.name}}</h2>

    <script type="text/ng-template" id="probe-view.html">

            <div class="modal-header">
                <h4 class="modal-title" id="myProbeLabel">Probe from {{probe.computationDate}}</h4>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>type</th>
                            <th>score</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="metric in metrics">
                            <td>{{metric.type}}</td>
                            <td>{{metric.score}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="close()">Close</button>
            </div>
        </form>
    </script>

    <button class="btn btn-primary btn-lg" ng-click="compute()">
        <span class="glyphicon glyphicon-flash"></span> Compute a new probe
    </button>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>computationDate</th>

                <th>organisationId</th>

            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="probe in probes">
                <td>{{probe.computationDate}}</td>

                <td>{{probe.organisationId }}</td>

                <td>
                    <button type="submit"
                            ng-click="view(probe.id)"
                            class="btn">
                        <span class="glyphicon glyphicon-pencil"></span> View
                    </button>
                    <button type="submit"
                            ng-click="delete(probe.id)"
                            class="btn btn-danger">
                        <span class="glyphicon glyphicon-remove-circle"></span> Delete
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
